<main>
  <% if @author.nil? %>
    <h1>Author not found</h1>
  <% else %>
    <h1 class="w-full text-center text-3xl font-bold">
      <%= @author.name %>
    </h1>
    <% @apps.each do |app| %>
      <%= link_to app_detail_path(app.appID), class: "flex-none block mb-2 mr-2 flex snap-start truncate items-center" do %>
        <img class="flex-none rounded-lg w-16 object-scale-down" src="<%= app.iconURL %>" alt="<%= app.name %> icon">
        <div class="flex-auto ml-2 truncate">
          <span class="text-l font-bold text-gray-900">
            <%= app.name %>
          </span>
          <p class="text-xs text-gray-700 truncate" title="<%= app.description %>">
            <%= app.description %>
          </p>
          <% if @apps_metrics.key?(app.appID) %>
            <span class="flex items-center">
              <b class="text-s"><%= @apps_metrics[app.appID].average %></b>
              <%= render "shared/star", rating: 1, max_rating: 1 %>
            </span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</main>